:root {
    --primary-title-color: #FFFFFF;
    --secondary-title-color: #000000;
    --primary-text-color: #212122;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --header-text-color: #212121;
    --first-logo-color: #000000;
    --second-bg-color: #2f303a;
    --sect-team-bg-color: #f5f4fa;
}


/* global selector */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    letter-spacing: 0.03em;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-title-color);
    font-size: 14px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.conteiner {
    width: 1200px;
}


/* Header*/

.hero-button {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: 0;
    color: var(--primary-title-color);
}

.hero-button:focus,
.hero-button:hover {
    color: var(--header-text-color);
}

.hero-button {
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--accent-color);
}

.logo-header:hover,
.logo-header:focus {
    color: var(--accent-color);
}

.logo-header {
    color: var(--first-logo-color)
}

.logo-footer {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
    color: var(--primary-title-color);
    letter-spacing: 0.03em;
}

.logo-footer:hover,
.logo-footer:focus {
    color: var(--accent-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-text-color);
}

.header-link:focus,
.header-link:hover,
.contacts-link:focus,
.contacts-link:hover,
.site-nav .link.current,
.header-contacts-link .link.current {
    color: var(--accent-color);
}

.contacts-link {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    text-align: left;
}


/* Hero */

.hero {
    background-color: var(--second-bg-color);
}

.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-title-color)
}

.hero-title {
    background-color: var(--second-bg-color);
}


/* Section features */

.features {
    display: none;
}

.features-title {
    text-transform: uppercase;
    color: var(--header-text-color);
}

.features-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-align: left;
}

.subtitle {
    color: var(--title-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
}


/* Section task */

.task-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
}


/* Section team*/

.section-team {
    background-color: var(--sect-team-bg-color);
}

.team-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    background-color: var(--primary-title-color);
}

.text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    background-color: var(--primary-title-color);
}

.team-li {
    background-color: var(--primary-title-color);
}


/* Footer */

.footer {
    background-color: var(--second-bg-color);
}

.contacts-link-list {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.contacts-link-footer {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em
}

.contacts-link-address {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-title-color)
}

.contacts-link-address:focus,
.contacts-link-address:hover,
.footer-contacts-link:focus,
.footer-contacts-link:hover {
    color: var(--accent-color);
    font-style: inherit;
}

.footer-contacts-link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.logo-footer {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
}

.contacts-address {
    font-style: normal;
}


/* left side */

.list .button:focus,
.list .button:hover {
    color: var(--accent-color)
}

.list .button {
    font-family: 'Roboto';
    font-style: normal;
    border: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    background-color: var(--sect-team-bg-color);
    border-radius: 4px;
}

.list .active-button {
    font-family: 'Roboto';
    font-style: normal;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--header-text-color);
    text-align: left;
}

.portfolio-title:hover {
    color: var(--accent-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.89;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-align: left;
}

.portfolio-text:hover {
    color: var(--accent-color);
}